@import 'annul'
.container
    padding: 0 5px
    padding-top: 10px
.header
    width: 100%
    height: 250px
    background-image: url('../img/mapua.png'), url('../img/logo.png')
    background-size: contain, 130px
    background-repeat: no-repeat
    background-position: center center
    background-color: #d9292b
    .container
        padding: 0 30px
        padding-top: 20px

        .head
            display: flex
            justify-content: space-between
            img
                width: 40px

.locate
    .container
        padding: 0 50px
        padding-top: 10px
        .title
            margin-top: 5px
            display: flex
            flex-direction: column
            align-items: center
            gap: 10px
            text-transform: uppercase
            .servis
                font-size: 16px
        .block_count
            display: flex
            justify-content: center
            gap: 50px
            text-align: center
            margin-top: 25px
            .cunter
                font-size: 20px
                color: #000
                font-weight: 700
                margin-top: 15px
/*             &::before
                content: ''
                position: absolute
                background-color: black
                width: 30px
                height: 3px */




.btn_grup
    height: 300px
    width: 100%
    .input_locate
        height: 60px
        .img_search
            width: 30px
            height: 30px
            position: absolute
            transform: translate(11px, 9px)
        .search_locate
            border-radius: 15px
            width: 100%
            height: 50px
            font-size: 20px
            padding-left: 45px


    .btn_links
        display: flex
        flex-wrap: wrap
        text-align: center
        justify-content: center
        margin-top: 30px
        &::before
                content: ''
                position: absolute
                background-color: #00000080
                width: 2px
                height: 125px 
                transform: translate(0px, 20px)
        .grup
            text-align: center
            padding: 0 10px
            padding-top: 20px
            width: 45%
            height: 135px
            text-decoration: none
            color: #000
            .btn_img
                width: 80px
            .descr
                margin-top: 20px
                font-size: 24px
                text-transform: uppercase
                font-weight: 700

.footer
    display: flex
    justify-content: center
    position: fixed
    bottom: 0
    width: 100%
    background-color: #fff
    button
        background: none
        border: none